.main-page {
   padding: 10px;
   font-family: Arial, sans-serif;
}

.carousel {
   display: flex;
   align-items: center;
   padding: 2px;
}

.nav-button {
   background-color: #4db6ac;
   border: none;
   color: white;
   border: black;
   margin:10px;
   border-radius: 20px;
   width: 200px;
}

.dates {
   display: flex;
   justify-content: space-around;
   flex-grow: 1;
}

.date {
   text-align: center;
   margin-left: 5px;
   margin-right: 5px;
}

.selected {
   font-weight: bold;
}

.habits {
   color: blue;
   /* text-align: justify; */
   /* margin-right: 20px; */
}

.habit {
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   padding: 5px;
   margin-bottom: 5px;
}

.popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: whitesmoke;
   padding: 15px;
   margin: 10px;
   border-radius: 8px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.frequency-selector label {
   margin-right: 5px; /* Reduce spacing between labels */
}

.habit input[type="checkbox"] {
   margin-right: 5px; /* Reduce space between checkbox and habit name */
}